policy_module(sbpay, 1.100.1)

########################################
#
# Declarations
#

type sbpay_t;
type sbpay_exec_t;
init_daemon_domain(sbpay_t, sbpay_exec_t)

permissive sbpay_t;

type sbpay_initrc_exec_t;
init_script_file(sbpay_initrc_exec_t)

type sbpay_conf_t;
files_type(sbpay_conf_t)

type sbpay_var_lib_t;
files_type(sbpay_var_lib_t)

type sbpay_var_run_t;
files_type(sbpay_var_run_t)

type sbpay_port_t;
corenet_port(sbpay_port_t)

########################################
#
# sbpay local policy
#
allow sbpay_t self:process { fork };

allow sbpay_t self:fifo_file rw_fifo_file_perms;
allow sbpay_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(sbpay_t, sbpay_conf_t, sbpay_conf_t)
manage_files_pattern(sbpay_t, sbpay_conf_t, sbpay_conf_t)

manage_dirs_pattern(sbpay_t, sbpay_var_lib_t, sbpay_var_lib_t)
manage_files_pattern(sbpay_t, sbpay_var_lib_t, sbpay_var_lib_t)
files_var_lib_filetrans(sbpay_t, sbpay_var_lib_t, { dir file })

manage_dirs_pattern(sbpay_t, sbpay_var_run_t, sbpay_var_run_t)
manage_files_pattern(sbpay_t, sbpay_var_run_t, sbpay_var_run_t)

sysnet_dns_name_resolve(sbpay_t)
corenet_all_recvfrom_unlabeled(sbpay_t)

allow sbpay_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(sbpay_t)
corenet_tcp_sendrecv_generic_node(sbpay_t)
corenet_tcp_sendrecv_all_ports(sbpay_t)
corenet_tcp_bind_generic_node(sbpay_t)

gen_require(`
    type sbpay_port_t;
')
allow sbpay_t sbpay_port_t:tcp_socket name_bind;

gen_require(`
    type sbpay_port_t;
')
allow sbpay_t sbpay_port_t:tcp_socket name_connect;

domain_use_interactive_fds(sbpay_t)

files_read_etc_files(sbpay_t)

miscfiles_read_localization(sbpay_t)

sysnet_dns_name_resolve(sbpay_t)

allow sbpay_t sbpay_exec_t:file execute_no_trans;
allow sbpay_t self:process setsched;
corecmd_exec_ls(sbpay_t)
corenet_tcp_connect_http_port(sbpay_t)
dev_read_urand(sbpay_t)
fs_getattr_xattr_fs(sbpay_t)
kernel_read_system_state(sbpay_t)
